dashboard/package.json
dashboard/signalr_config.json
functions/alert_config.json
host.json
local.settings.json
requirements.txt
logs/
endpoint/
stream_analytics/
cosmos_db/
.gitignore
autoencoder.pth
docs/
